{% extends "account/base.html" %}
{% load static %}
{% block title %}Logout{% endblock %}

{% block content %}

  <div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
   <div class="card max-w-[440px] w-full">
    <div action="#" class="card-body p-10" id="check_email_form" method="post">
     <div class="flex justify-center py-10">
      <img alt="image" class="dark:hidden max-h-[130px]" src="{% static 'media/illustrations/30.svg' %}"/>
      <img alt="image" class="light:hidden max-h-[130px]" src="{% static 'media/illustrations/30-dark.svg' %}"/>
     </div>
     <h3 class="text-lg font-medium text-gray-900 text-center mb-3">
      Have you tried to log out?
     </h3>
     <div class="flex justify-center mb-5">
      <a class="btn btn-primary flex justify-center" href="{% url 'account_logout' %}">
       Confirm Logout
      </a>
     </div>
     <div class="flex items-center justify-center gap-1">
      <span class="text-xs text-gray-700">
       If not?
      </span>
      <a class="text-xs font-medium link" href="{% url 'profile-home' %}">
       Back to Dashboard
      </a>
     </div>
    </div>
   </div>
  </div>
{% endblock content %}